$azulOscuro: #00365C;
$azul: #0067B1;
$azulClaro: #80CAFF;
$amarilloOscuro: #EBC000;
$amarillo: #FFD000;
$amarilloClaro: #FFE982;
$blanco: #ffffff;

$magenta: #DE1267;
$magentaClaro: #F278AB;
$amatista: #3701B1;

$grafito: #333333;
$ceniza: #757575;

$alternativo: #FAFBFD;
$seccion: #F6F7FC;
$contorno: #E2E8EE;
$deshabilitado: #D6D6D6;

$info: #0188D1;
$infoClaro: #E5F6FD;
$alerta: #ED6C02;
$alertaClaro: #FFF4E5;
$error: #D32F2F;
$errorClaro: #FFDDDD;
$exito: #2E7D32;
$exitoClaro: #EDF7ED;
$charge:#33333386
